<head>
        <title> To Do Application </title>
        <link rel="stylesheet" href="show.css">
    </head>
    <body id="bob">
        <input type="checkbox">
        <h2> Why Would You Do That</h2>
        <%= params[:id]%>
        <%= @todo_description %>
        <%= @todo_pomodoro_estimate %> <br>
        <a href="/todo/edit/<%= @todo.id %>" style="color:#172641"> Edit </a> <br>
        <a href="/todo/destroy/<%= @todo.id %>" class="button delete-todo-button">Delete</a> <br>
        <a href="/"> Go Back </a>
    </body>
